html {
  height: 100%;
}
body {
  height: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  margin: auto;
  height: 400px;
  width: 260px;
  background: blue;
}

.inputs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: yellow;
  height: 400px;
}

button {
  width: 50px;
  height: 40px;
  margin-left: 10px;

  .zero {
    width: 100px;
  }

  .equals {
    height: 100px;
  }
}
